<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- 下記の記述でVue.jsをインポートしている -->
        <link rel="stylesheet" href="home.css" />

        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div id="app">
            <!-- v-model="name"で、Vue.jsで設定したdateとHTMLのinput要素が同期する -->
            <p id="errors">{{error}}</p>
            nom：<input v-model="name">
            cours：<input v-model="course">
            periode：<input v-model="acceptancePeriod">
            <br>
            <!-- button v-on:click="addStudent"で、buttonがclickされた時に起動するメソッドを選択する -->
            <button v-on:click="addStudent">Ajouter étudiant</button>
            <ul>
                <!-- v-for="student in students" で、配列studentsを一つ一つ切り出して変数studentに代入している -->
                <!-- v-bind:key="student.id"は、切り出された各要素の一意性を確保するために使う -->
                <li v-for="student in students" v-bind:key="student.id">
                    <!-- {{ }} のなかに書いた記述で、Vue.jsのデータの式展開が行える -->
                    id {{student.id}} /
                    nom {{student.name}} /
                    vours {{student.course}} /
                    periode {{student.acceptancePeriod}}
                </li>
            </ul>
        </div>
        <script src="home.js"></script>
    </body>
</html>
